form a {
  margin-left: 5px
}

.google-map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }

 body {
  margin: 0;
  padding: 0;
  font-family: "Courier New";
}
